@import "../../assets/scss/variables.scss";
.roadmap {
    padding: 10px 24px;
    width: 255px;
    height: 178px;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFFF;
}
.roadmap-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.roadmap-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3%;
}
.item-name {
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.round {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.view {
    text-decoration: underline;
    color: #4661E6;

}