@import "../../assets/scss/variables.scss";
.feedback-container{
    width: 750px;
    padding: 10px 0;
}
.feedback-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 24px;
    border-radius: $radius;
    background-color: #FFFFFF;
    margin: 20px 0;
}
.feedback-head {
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedback-head__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Feedback-head__btn {
    border: none;
}
.Feedback-head__editBtn {
    padding: 12px 24px;
    border-radius: $radius;
    border: none;
    background-color: #4661E6;
    color: #F2F4FE;
}
.Feedback-head__left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.feedback-coment {
    display: flex;
    flex-direction: column;
    margin: 12px 32px;
    border-radius: $radius;
}
.feedback-coment__list {
    display: flex;
    flex-direction: column;
    width: 666px;
    height: 123px;
    row-gap: 20px;
}
.FCL-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.FCL-top__left {
    display: flex;
    align-items: center;
    gap: 24px;
}
.FCL-top__name {
    // margin: 0;   
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.FCL-top__title {
    margin: 0;
}
.FCL-bottom__text{
    width: 594px;
    margin: 0;  
    margin-left: 72px;
}
.reply {
    color: #4661E6;
    font-weight: 500;
}
