@import "../../assets//scss/variables.scss";
.roadmap-page__container {
    width: 1130px;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.roadmap-nav {
    height: 113px;
    background: #373F68;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    border-radius: $radius;
}
.goback {
    color: white;
    font-weight: 600;
}
.roadmap-nav__title {
    display: flex;
    flex-direction: column;
    color: white;
}
.roadmap-list {
    display: flex;
    width: 1110px;
    justify-content: space-between;
    margin: 0 auto;
}
.roadmap-child {
    width: 350px;
    display: flex;
    flex-direction: column;
}